@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");

.App {
	text-align: center;
	font-family: "Nova Flat", cursive;
	margin: 8% auto 3% auto;
	padding: 40px 20px 20px 20px;
	display: block;
	max-width: 800px;
	background-color: rgba(254, 216, 218, 0.5);
}
